body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size:70%;
}

/*--.container{
    max-width:990px;
}--*/



@media (min-width: 400px) {
  .one-column { width: 90%; font-size: 75%; } 
    /*--.onethird{float:none;clear:both;} --*/
}
@media (min-width: 700px) {
  .one-column { width: 80%; font-size: 90%; }
}
@media (min-width: 850px) {
  .one-column { width: 70%; font-size: 100%; }
    /*--.onethird{float:left;}--*/
}
@media (min-width: 1000px) {
  .one-column { width: 60%; font-size: 110%; }
}
@media (min-width: 1100px) {
  .one-column { width: 50%; font-size: 115%;}
}
@media (min-width: 1450px) {
  .one-column { width: 40%; font-size: 125%; }
}





nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8rem;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5rem;
}

ul.posts li {
    list-style: none;
}


li, li li{
    font-size:1rem;
    line-height:2rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}/*--Make sure all fonts resize together and we don't get recursive resizing (2em x 2em or 1em of 1em etc)--*/


.onethird{
    width:24%;
    float:left;
    margin-right:2em;
    min-width:190px;
}

footer p{
    color:#d5d5d5;
}

.nowrap {
  white-space: nowrap;
  word-break: keep-all;
}


table{
    border-collapse:collapse;
    margin-bottom:1.5em;
}
table, th, td{
    border: 1px solid #d5d5d5;
    padding:1.5em;
}

tr:nth-child(even) {
    background-color: #d5d5d5;
}
