/* -------- Layout Setup -------- */



body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #3C412B;
    margin: 60px auto;
    width: 70%;
    color:#fff;
    padding:0;
}


#container{
    max-width:800px;
    min-height:350px; 
    padding:10% 0%;
}


nav{
    font-size:1.4rem;
    padding:10% 0%;
}


footer {
    position:absolute;
    bottom:0px;
    padding:10% 0%;
    background-color:#266672;
    color:#fff;
    clear:both;
    width:100%;
    height:4rem;
}




/* -------- Media Queries -------- */




@media (min-width: 400px) {
    nav ul li{display:block;}
    body{font-size:115%;}
}
@media (min-width: 850px) {
    
}
@media (min-width: 1150px) {
    
}





/* -------- Type Styles -------- */

nav, nav a{
    color:#fff;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
}

